{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {{ form(registrationForm) }}
    <a href="{{path('app_home')}}">Accueil</a>

{% endblock %}
